.textoCambios{
    margin: 0px 10px 40px 10px;
    @include fonts(25px, 600);
    background-image: url(https://images.unsplash.com/photo-1562157873-818bc0726f68?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    iframe{
        margin: 0px 0px 30px 33.5px;
        width: 95%;
        justify-content: center;
    }
    p{
        color: map-get($map: $colores, $key: color1);
        width: 80%;
        margin: 0px 0px 20px 20px;
    }
    div:not(.cuadroTexto){
        margin-left: 80px;
    }
    .cuadroTexto{
        @include medidas(100%, 100%);
        background-color: #ffffff6f;
        padding: 10px 0px;
    }
}