@mixin flex($justify, $align, $text){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
} 
@mixin fonts($size, $weigth){
    font-size: $size;
    font-weight: $weigth;
}
@mixin medidas($width, $heigth){
    width: $width;
    height: $heigth;
}
