@media(max-width:350px){
    .carrousel{
        height: 250px;
    }
    .sendMail{
        input{
            padding: 0;
        }
    }
    .pagosContenedor{
        display: grid;
        grid-template: repeat(3,1.25rem)/repeat(2,2.5rem);
        .pagosFila1{
            display: inline;
        }
        .pagosFila2{
            display: inline;
        }
    }
}