@media(max-width:470px){
    .gridCarrito{
        .vista5{
            height: 75%;
        }
    }
    h2{
        font-size: .95rem;
    }
    .mailSuscripcion{
        .ingresoMail{
            height: 20px;
            font-size: 10px;
            text-align:left;
        }
        .botonEnviar{
            @include medidas(50%, 20px);
            font-size: 10px;

        }
    }
    .pagosContenedor{
        div{
            img{
                width: 30px;
            }
        }
    }
    .iconosFooter{
        img{
            width: 10px;
        }
        p{
            font-size: .6rem;
            margin-bottom: 0;
        }
    }
    .mailFooter{
        p{
            margin-right: 10px;
            margin-left: 0px;
        }
    }
    .contenedorCards{
        .carta{
            .cardInfo{
                font-size: 12px;
            }
        }
        .cardInicio{
            .cardInfo{
                font-size: 12px;
            }
        }
    }
    .carrousel{
        @include medidas(100%, 350px);
        button{
            width: 50px;
        }
    }
    .textoCambios{
        p{
            font-size: 15px;
        }
    }
}