@media(max-width:860px){
    .gridCarrito{
        height: 500px;
        grid-template: repeat(4,112.5px)/repeat(3,1fr);
        img{
            width: auto;
            margin-left: 50px;
        }
        .vista5{
            object-fit: fill;
            width: 130%;
            justify-self:flex-end;
            margin-left: 0;
        }
        .vista1{
            grid-column: 1/2;
        }
        .vista2{
            grid-column: 1/2;
        }
        .vista3{
            grid-column: 1/2;
        }
        .vista4{
            grid-column: 1/2;
        }
        .vista5{
            grid-column: 2/3;
        }
        .infoBuzo{
            grid-column: 3/4;
            padding: 0;
        }
        .talles{
            grid-column: 3/4;
            margin: 0;
            button{
                padding: 3px;
            }
        }
        .seleccionColor{
            grid-column: 3/4;
        }
        .botonCompra{
            grid-column: 3/4;
        }
    }
    .galeria{
        height: 28.125rem;
        button{
            @include medidas(40px, 20rem);
            img{
                height: 30px;
            }
        }
        .contenedorCards{
            @include medidas(90%, 100%);
            .cardInicio{
                height:100%;
                .cardImg{
                    height: 20rem;
                }
            }
            .carta{
                height: 100%;
                .cardImg{
                    height: 20rem;
                }
            }
        }
    }
    .cardBuzoNegro{
        display: none;
    }
}
