@media(max-width:1215px){
    .talles{
        grid-row: 2/3;
        align-self: flex-end;
    }
    .seleccionColor{
        grid-row: 3/4;
    }
    .botonCompra{
        @include medidas(150px, 70px);
    }
    .gridCarrito{
        height: 800px;
        grid-template: repeat(4,200px)/repeat(5, 1fr);
        img{
            object-fit: contain;
            height: 100%;
        }
    }
    .galeriaCarrito{
        height: 36.25rem;
        width: 100%;
    }
    .cardRemeraNegra{
        display: none;
    }
    .contenedorCards{
        .carta{
            .cardImg{
                height:500px;
            }
        }
    }
}